body {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5rem;
}
@media screen and (min-width: 1200px) {
  body {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
  }
}

.icone-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.icone-titre > img {
  height: 2rem;
  width: auto;
}

.resaux {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
}

.top-bar-left-part {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 66%;
}

.logo_recherche {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.recherche {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  border: solid;
}

#search-recette {
  width: 100%;
  border: 0;
}

#search-button {
  cursor: pointer;
  border-left: solid black;
  padding: 0.25rem;
  background-color: rgb(151, 30, 100);
  color: white;
}
#search-button:hover {
  background-color: black;
  color: white;
}

.slogan {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.top-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 33%;
}

#login-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 50%;
}

.button {
  border: none;
  color: white;
  width: 100%;
  transition-duration: 200ms;
}

.button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

#login-button {
  background-color: rgb(179, 212, 66);
}
#register-button {
  background-color: rgb(65, 102, 171);
}

#deposer-recette-button {
  background-color: rgb(151, 30, 100);
  height: 50%;
}
#login-button:hover {
  background-color: rgb(179, 212, 66);
  color: white;
  background-color: black;
}
#register-button:hover {
  background-color: rgb(65, 102, 171);
  color: white;
  background-color: black;
}

#deposer-recette-button:hover {
  background-color: rgb(151, 30, 100);
  color: white;
  background-color: black;
  height: 50%;
}

nav {
  background-color: rgb(151, 30, 100);
  color: white;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-inline-start: 0;
}

.navlink {
  list-style-type: none;
  margin: auto auto;
}

.navlink > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.header-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 20rem;
}

.header-images > img {
  height: 100%;
  width: 66%;
  object-fit: cover;
}

.block {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 33%;
  text-align: center;
  height: 100%;
}

.block > p {
  margin-top: 3rem;
}

#block1 {
  background-color: rgb(151, 30, 100);
}
#block2 {
  background-color: rgb(65, 102, 171);
}

.recettes-title {
  background-color: rgb(151, 30, 100);
}

.recettes-title > h3 {
  color: white;
  text-transform: uppercase;
  margin-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: normal;
  font-size: 2rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding-bottom: 2rem;
}

.card {
  width: 32%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.card > .cover-image {
  width: 100%;
}

.card > .description {
  padding: 1rem;
}

#color-vertClair {
  background-color: rgb(179, 212, 66);
}

#color-bleuClair {
  background-color: rgb(90, 151, 195);
}

#color-fushia {
  background-color: rgb(151, 30, 100);
}

.description > h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.description > p {
  overflow-wrap: break-word;
}

.author {
  background-color: white;
  border: solid black 1px;
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 48px;
}

.author > img {
  height: 48px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.image {
  width: 50%;
  background-size: cover;
}

li {
  list-style: none;
  margin-top: 2rem;
}
.titre-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.auteur-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.auteur-container > img {
  height: 3rem;
}

h2 {
  text-transform: uppercase;
  font-size: xx-large;
}
